<body>
  <header>
    <div id="cat">
      <svg width="205" height="111" viewBox="0 0 205 111" fill="none">
        <path
          d="M12.9424 36.685C8.34134 26.5581 26.7595 -0.727577 26.2271 5.17388C25.6946 11.0753 26.1277 14.8574 27.1776 17.1255C28.2276 19.3937 31.5199 13.7837 43.2309 13.2597C54.942 12.7356 56.0599 14.5549 58.3173 14.7353C60.5747 14.9157 72.5642 -0.728165 73.3377 2.57669C74.1111 5.88154 73.4996 17.416 73.4996 17.416M12.9424 36.685C12.9424 36.685 7.52278 36.5684 4.27268 40.8961C1.02257 45.2238 2.83532 49.8056 5.12125 51.4589C7.40718 53.1121 11.9675 51.8941 11.9675 51.8941M12.9424 36.685C17.9785 37.1133 20.2272 38.3127 22.5855 40.7837C24.484 42.7728 26.5644 45.5443 25.7038 49.1954M11.9675 51.8941C18.3591 53.1271 18.9484 51.9023 20.0079 50.6475M11.9675 51.8941C12.7661 49.4465 10.6998 47.4131 9.05566 44.6733M20.0079 50.6475C20.0079 50.6475 18.5834 46.4894 17.1738 44.8225M20.0079 50.6475C22.5969 50.7772 24.87 51.2348 25.7038 49.1954M73.4996 17.416C73.4996 17.416 82.9818 14.1594 91.9365 11.8748C100.891 9.59033 124.161 5.53799 132.588 5.93756C141.015 6.33714 155.591 7.90326 162.141 16.6029M73.4996 17.416C73.4996 17.416 78.3654 30.6523 77.7685 35.1982C76.7972 41.1912 73.0811 45.7206 68.88 47.2413M162.141 16.6029C180.648 28.1349 198.804 31.3437 201.962 38.0052C205.179 44.561 191.727 50.4519 189.025 53.1518C186.323 55.8518 182.584 58.7035 182.21 64.4414C181.786 70.9636 182.787 76.6674 182.939 77.4851C182.952 77.5547 182.962 77.6249 182.968 77.6955C183.655 86.2669 173.818 83.4254 171.336 79.5553C167.827 74.0856 167.168 66.6625 168.584 57.9017C170.473 51.187 175.867 45.0789 184.24 43.3331M162.141 16.6029C164.066 20.0609 167.632 24.8514 168.309 32.7443M151.448 50.8525C151.448 50.8525 161.242 50.0759 164.719 44.8543C168.196 39.6327 168.309 32.7443 168.309 32.7443M151.448 50.8525C151.253 48.2674 149.984 46.6295 151.956 45.565M151.448 50.8525C149.181 51.9216 147.549 51.9776 143.875 50.9351M143.875 50.9351C142.365 49.1184 141.782 47.0634 141.897 45.0151M143.875 50.9351C141.722 51.6422 140.242 51.7207 138.024 51.3719C135.805 51.0232 134.104 50.5665 132.941 47.7054M132.941 47.7054C130.017 46.8338 132.984 51.5648 115.164 51.2484C105.504 51.0769 83.969 49.8659 78.8704 54.3637C73.9602 58.6953 73.5824 63.0756 73.5612 63.3935C73.5603 63.407 73.5601 63.4129 73.5598 63.4264C73.5511 63.8507 73.4045 73.5027 77.7907 86.7445C82.277 100.289 78.4898 102.576 78.4898 102.576M132.941 47.7054C131.807 45.136 132.927 43.1545 134.003 41.3149M78.4898 102.576C76.9001 103.041 76.1336 98.7852 74.3732 95.6775M78.4898 102.576C78.4898 102.576 79.4223 105.911 73.693 108.278M73.693 108.278C68.456 103.932 68.0228 98.7447 68.0228 98.7447M73.693 108.278C69.6729 109.183 63.5003 108.495 59.8119 95.0994C56.1235 81.7039 60.8513 70.1925 44.113 53.8855M44.113 53.8855C44.113 53.8855 51.5846 53.7001 53.8917 52.3586M44.113 53.8855C41.5556 53.9134 38.8843 53.8539 34.6398 52.6381C29.2063 51.0816 25.7038 49.1954 25.7038 49.1954M134.003 41.3149C136.355 39.3118 138.895 39.08 141.826 38.5599C146.32 38.2875 147.838 39.2648 152.326 40.5659M134.003 41.3149C130.487 41.6472 126.535 37.2182 124.928 33.2177C119.413 19.4835 130.559 16.3783 147.137 21.3212M184.24 43.3331C186.742 42.8112 188.268 41.7148 188.268 41.7148M184.24 43.3331C181.963 41.7836 173.907 40.3304 168.309 32.7443"
          stroke="#C443F4"
          stroke-width="4"
          stroke-miterlimit="1.1547"
          stroke-linecap="round"
        />
      </svg>
    </div>

    <h1>Jean Castilho</h1>

    <div id="options">
      <svg width="70" height="156" viewBox="0 0 45 156" fill="none">
        <circle cx="22.5" cy="25.5" r="12" />
        <circle cx="22.5" cy="63" r="12" />
        <circle cx="22.5" cy="98" r="12" />
        <circle cx="22.5" cy="133" r="12" />
      </svg>
    </div>
  </header>

  <section id="apresent">
    <article class="ElementScrow">
      <svg width="650" height="150" viewBox="0 0 697 101" fill="none">
        <path
          d="M0 100.973V0.97345H696.736L499.327 100.973H0Z"
          fill="#EBDEED"
        />
      </svg>

      <svg width="650" height="150" viewBox="0 0 697 101" fill="none">
        <path
          d="M0 100.973V0.97345H696.736L499.327 100.973H0Z"
          fill="#EBDEED"
        />
      </svg>

      <svg width="650" height="150" viewBox="0 0 697 101" fill="none">
        <path
          d="M0 100.973V0.97345H696.736L499.327 100.973H0Z"
          fill="#EBDEED"
        />
      </svg>
    </article>

    <div class="ElementScrow" id="imgs">
      <div></div>
    </div>
  </section>

  <section id="projetos">
    <h2 class="ElementScrow">Projetos</h2>

    <article class="ElementScrow">
      <div></div>
      <div></div>
      <div></div>
    </article>
  </section>

  <section id="habilidades">
    <h2 class="ElementScrow">Habilidades</h2>

    <article class="ElementScrow" id="projt-skil">
      <div></div>
      <div></div>

      <div></div>

      <div></div>
      <div></div>
    </article>
  </section>

  <section id="proposta">
    <h2 class="ElementScrow">Envie-me uma notificaçao!!</h2>

    <p class="ElementScrow">
      tem uma pergunta ou proposta? <br />
      entre em contato!!!
    </p>

    <article>
      <form method="post" id="formul">
        <input
          type="email"
          value="jeancastilhoSz@proton.me"
          placeholder="E-mail"
          name="email"
          id="email"
          class="ElementScrow"
        />

        <input
          type="text"
          value="Jean Castilho"
          placeholder="Name"
          name="usser"
          id="usser"
          class="ElementScrow"
        />

        <input
          type="text"
          placeholder="digite aqui sua mensagem?"
          name="frase"
          id="mensagem"
          class="ElementScrow"
        />

        <button type="submit" id="Enviar">Enviar</button>
      </form>
    </article>
  </section>

  <script type="module" src="/index.js"></script>
</body>
