* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--main-font);
  color: var(--destak-color);
}

:root {
  --main-font: "Russo One", sans-serif;

  --font-color: #ebdeed;
  --destak-color: #c443f4;
  --primari-color: #22212d;
  --segund-color: #1c1a23;
}

body {
  background-color: var(--primari-color);

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header #cat {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  padding: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 32px;
  line-height: 55px;
  letter-spacing: 3px;
  text-align: center;

  width: 30%;
}

header nav {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 1%;

  display: flex;
}

nav #navbar {
  position: fixed;

  top: 0;
  right: 0;

  margin-top: 20px;
  margin-right: 10px;

  width: 4%;
  height: 4%;

  display: flex;
  justify-content: alig-items;
  align-items: center;
}

nav #options {
  position: fixed;

  bottom: 0;
  right: 0;

  margin-bottom: 20px;
  margin-right: 10px;

  width: 4%;
  height: 20%;

  display: flex;
  justify-content: align-items;
  align-items: center;
}

section.container {
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container article {
  width: 45%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

article #trosso {
  color: var(--destak-color);

  width: 75%;
  height: 16%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container #imgs {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#imgs div {
    
  background-color: var(--destak-color);
  border-radius: 22px;
  
  color: var(--destak-color);
  width: 50%;
  height: 80%;
  border-radius: 22px;
}

section#Projetos {
  width: 100%;
  height: 55vh;

  padding-top: 55px;
  padding-bottom: 55px;

  background: var(--segund-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Projetos article {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Projetos article div {
  width: 30%;
  height: 80%;

  
  background-color: var(--destak-color);
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section#sobre {
  width: 100%;
  height: 60vh;

  padding-top: 55px;
  padding-bottom: 55px;

  background: var(--terceir-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#sobre {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sobre h3 {
  color: #ebdeed;

  font-size: 25px;
  line-height: 35px;
  letter-spacing: 2px;
  text-align: center;

  width: 100%;
  height: 10%;
}

#sobre article {
  width: 90%;
  height: 70%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 50% 50%;

  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

article > p {
  border-bottom: 3px solid #c443f4;
  padding-bottom: 10px;
  margin-bottom: 0;
}

section#Proposta {
  width: 100%;
  height: 85vh;
  padding-top: 55px;
  padding-bottom: 55px;
  background: var(--segund-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Proposta h3 {
  color: var(--font-color);

  font-size: 45px;
  line-height: 55px;
  letter-spacing: 3px;
  text-align: center;

  width: 100%;
  height: 10vh;
}

#Proposta p {
  color: var(--destak-color);
  text-align: start;
  font-size: 27px;
  line-height: 40px;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-right: 120px;
}

#Proposta article {
  width: 100%;
  height: 100%;
}

#Proposta article form {
  width: 100%;
  height: 40vh;
  display: grid;
  align-items: stretch;
  justify-content: space-evenly;
  grid-template-areas:
    "email usser"
    "motivaçao motivaçao";
  justify-items: center;
  align-content: space-around;
}

#email {
  grid-area: email;

  width: 300px;
  height: 38px;

  font-family: var(--main-font);
  font-size: 17px;
  line-height: 50px;
  letter-spacing: 2px;

  color: var(--destak-color);
  background: transparent;

  border: none;
  border-bottom: 4px solid #c443f4;
}

#usser {
  grid-area: usser;

  width: 240px;
  height: 38px;

  font-family: var(--main-font);
  font-size: 17px;
  line-height: 55px;
  letter-spacing: 2px;

  color: var(--destak-color);
  background: transparent;

  border: none;
  border-bottom: 4px solid #c443f4;
}

#motivaçao {
  grid-area: motivaçao;

  width: 67%;
  height: 40px;

  font-family: var(--main-font);
  font-size: 17px;
  line-height: 55px;
  letter-spacing: 2px;

  color: var(--destak-color);
  background: transparent;

  border: none;
  border-bottom: 4px solid #c443f4;
}

#Enviar {
  width: 260px;
  height: 90px;

  font-family: var(--main-font);
  color: var(--font-color);
  font-size: 30px;
  letter-spacing: 4px;

  border: none;
  border-radius: 5px;
  background: linear-gradient(154deg, #8a18b4 -0.05%, #843aa7 93.86%);
}
